<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.mvp">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.demo.mvp_dagger2.MyApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.demo.dagger2.test1.DaggerTest1Activity"/>
        <activity android:name="com.demo.dagger2.test2.DaggerTest2Activity"/>
        <activity android:name="com.demo.dagger2.test3.DaggerTest3Activity"/>
        <activity android:name="com.demo.mvp_dagger2.MVP_Dagger2Activity"/>
        <activity android:name="com.demo.mvp_dagger2.MVP_Dagger2FragmentActivity"/>
    </application>

</manifest>